.jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.portas {
    display: flex;
    align-self: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

.botao {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    transition: all 0.3s;
}

.botao:hover {
    background-color: #000;
    color: #fff;
}