.area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--area-porta-largura);
    height: var(--area-porta-altura);
    margin: 5px;
}

.estrutura {
    display: flex;
    flex-grow: 1;
    border: solid 5px brown;
    border-bottom: 0;
    width: 90%;
}

.porta {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: chocolate;
    align-items: center;
    padding: 15px;
}

.numero {
    font-size: 3rem;
}

.macaneta {
    position: absolute;
    align-self: flex-start;
    top: calc(.45 * var(--area-porta-altura));
    height: var(--altura-macaneta);
    width: var(--largura-macaneta);
    border-radius: 50%;
    background-color: brown;
}

.chao {
    height: 10px;
    width: 100%;
    background-color: #ddd;
}

.selecionada {
    border: solid 5px yellow;
    border-bottom: 0;
}
.selecionada .numero{
    color: yellow;
}
.selecionada .macaneta{
    background-color: yellow;
}